<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar mode="ios">
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <p class="aboutText">
      COVID-19 is a serious disease and it is spreading everyday. The only way we can
      stop it from spreading is if we practice social distancing, contactless transactions
      and also be aware of the fact that the disease sometimes can have no symptoms.
    </p>
    <p class="aboutText">
      Wash your hand regularly and make hygine your first priority. Thank you for using the app.
    </p>
  </ion-text>

  <ion-list>
    <ion-list-header>
      Credits and Contriibutions
    </ion-list-header>

    <ion-item>
      <ion-icon slot="start" name="logo-web-component"></ion-icon>
      <ion-label>
        <h2>API</h2>
        <p>https://covid19.mathdro.id/api</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="logo-github"></ion-icon>
      <ion-label>
        <h2>Created By</h2>
        <p>Aurghyadip Kundu</p>
        <a href="https://github.com/aurghya-0" target="blank">aurghya-0.github.com</a>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>